Options +FollowSymLinks
RewriteEngine On

#không cho xem cấu trúc thư mục
RewriteCond %{REQUEST_FILENAME} !-d
# Đảm bảo rằng yêu cầu không phải là một tệp hoặc thư mục thực tế
RewriteCond %{REQUEST_FILENAME} !-f
# Đảm bảo có [L,QSA] ở cuối để nối các tham số tìm kiếm vào URL
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]